
BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
}

.PageTitle
{
	margin-top: 0px;
	font-weight: bold;
	font-size: 14px;
	/*text-transform: capitalize;*/
	color: #ff9966;
	padding-top: 15px;
	font-family: Arial, Verdana, Helvetica, Tahoma;
}

.Title 
{
	font-family:Arial,Verdana;
	color:Gray;
	font-size:12px;
	font-weight:bolder; 
	
	}

HR {
    color:#FF8A00; /*dimgrey;*/
    height:1pt;
    text-align:left
}

	
.Caption
{
	font-weight: bold;
	font-size: 12px;
	color: #330066;
	font-family: Arial;
}


.Text
{
	font-weight: bold;
	font-size: 11px;
	color: coral;
	font-family: Tahoma;
}

.TablaNormalBoldBIF
{
	/*font-weight: bold;*/
	font-size: 11px;
    color: white;
	font-family:  Arial, Helvetica;
	background-color: #003366;
	border-right : 1px solid #7F7F7F;
	border-top : 1px solid #7F7F7F;
	border-bottom : 1px solid #7F7F7F;
	border-left : 1px solid #7F7F7F;
	  
}

/* Estilo de texto para botones y botones de enalce utilizado en el las paginas de administración del portal*/
.CommandButton     {
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

.TablaNormalBIFLittle
{
    font-family:  Vedana, Arial, Helvetica;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;    
	border-right : 1px solid #7F7F7F;
	border-top : 1px solid #7F7F7F;
	border-bottom : 1px solid #7F7F7F;
	border-left : 1px solid #7F7F7F;
	
}


.TablaNormalBIF
{
    font-family:  Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;    
	border-right : 1px solid #7F7F7F;
	border-top : 1px solid #7F7F7F;
	border-bottom : 1px solid #7F7F7F;
	border-left : 1px solid #7F7F7F;
	
}


/* Estilo de titulos de items en paginas de edicion y administración
*/
.SubHead    {
    font-family: Tahoma, Arial, Helvetica;
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}

/* titulo del estilo del modulo utilizado para el encabezado para renderización de QuickLinks y modulos de Autenticación */
.SubSubHead {
    font-family: Tahoma, Arial, Helvetica;
    font-size:  11px;
    font-weight:    bold;
    color: black;
}


/* Estilo de texto utilizado para la mayoria del texto renderizado por los modulos */
.Normal
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
/*    line-height: 12px    */
}

/* Estilo de texto utilizado para la mayoria del texto renderizado por los modulos */
.NormalLite
{
    font-family: Verdana, Tahoma, Arial, Helvetica;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px    
}
.NormalRed
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 14px;
    font-weight: normal;
    line-height: 12px;
    color:Red;     
}

.flatTextBox
{
	border-color:Silver;
	border-width:1pt;
	border-style:solid;
	}
	
	
.InputField
{
	border-right: white 0px solid;
	border-top: white 0px solid;
	font-weight: bold;
	font-size: 11px;
	border-left: white 0px solid;
	color: black;
	border-bottom: white 0px solid;
	font-family: Tahoma, Arial, Helvetica;
	background-color: #e6f5ff;
}

.TableSmooth
{
BORDER-RIGHT: #cccccc 1px solid; 
BORDER-TOP: #cccccc 1px solid; 
BACKGROUND: "#EAF4FF"; 
BORDER-LEFT: #cccccc 1px solid; 
BORDER-BOTTOM: #cccccc 1px solid
}



DIV.hide {
	DISPLAY: none
}
DIV.show {
	DISPLAY: block
}





/***************************/

.box tbody td {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 90%;
 	background-color: #F6F6F4;
}

.box thead tr {
}

.box thead tr th {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.box thead tr td {
	font-family: tahoma,verdana,arial,helvetica,sans-serif;
	font-size: 10px;
}

.box thead a:link, .box thead a:visited {
	color: #FFE;
}

.box thead a:hover {
	color: lightgreen;
}

.box thead .container {
}

.box thead .info {
	color: #BBB;
}

.box thead .info a {
	color: #BBB;
}

.box thead .text {
	color: #ffe;
}

.box thead .shadow {
	color: #18314A;
}

.box thead .fill {
}



.box tbody td {
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.box thead tr {
	background-image: url('../images/bar_bg.gif');
	height: 16px;
}

.box thead tr th {
	cursor: default;
	white-space: nowrap;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

.box thead tr td {
	cursor: default;
	white-space: nowrap;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.box thead a:link, .box thead a:visited {
	text-decoration: none;
	border: none;
}

.box thead a:hover {
	text-decoration: none;
	border: none;
}

.box thead .container {
	position: absolute;
}

.box thead .info {
	position: relative;
	top: -5px;
}

.box thead .info a {
}

.box thead .text {
	position: absolute;
	top: 3px;
	left: 0px;
	z-index: 10;
}

.box thead .shadow {
	position: absolute;
	top: 4px;
	left: 1px;
	z-index: 1;
	cursor: default;
}

.box thead .fill {
	visibility: hidden;
}
/**************************************************/


TABLE
{
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
}





/******************* Estilos para tablas *********************/

DIV.tabla TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
DIV.tabla TABLE TD {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #666 1px solid
}
DIV.tabla TABLE TH {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #666 1px solid
}

DIV.tabla TABLE TR.TablaNormalBoldBIF
{
	background-color: #c9e6ff;
}

DIV.tabla TABLE TR.TablaNormalBoldBIF TD
{
	border-right: #666 1px solid;
	padding-right: 0.25em;
	border-top: #666 1px solid;
	padding-left: 0.25em;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 0.25em;
	border-left: #666 1px solid;
	color: #0000cc;
	padding-top: 0.25em;
	border-bottom: #666 1px solid;
	font-family: Arial;
}


DIV.tabla TABLE TR {
	BACKGROUND-COLOR: #ddd
}
DIV.tabla TABLE TR.odd {
	BACKGROUND-COLOR: #fff
}
DIV.tabla TABLE TFOOT TR {
	BACKGROUND-COLOR: #fff
}

/******************* fin Estilos para tablas *********************/


/********* titulo **************/
#hd {
	BORDER-RIGHT: #93b2cc 1px solid; BORDER-TOP: #93b2cc 1px solid; BACKGROUND: url(/BIFConvenios/images/bg_hd.gif) #b6cde1 repeat-x 0px 0px; BORDER-LEFT: #93b2cc 1px solid; WIDTH: 748px; BORDER-BOTTOM: #93b2cc 1px solid; POSITION: relative
}
#hd H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: url(/BIFConvenios/images/title_h_bg.gif) no-repeat 0px 0px; LEFT: -1px; PADDING-BOTTOM: 2px; MARGIN: 0px -2px 0px 0px; WIDTH: 750px; COLOR: #000; TEXT-INDENT: 15px; PADDING-TOP: 4px; POSITION: relative; TOP: -1px
}


#hdShort {
	BORDER-RIGHT: #93b2cc 1px solid; BORDER-TOP: #93b2cc 1px solid; BACKGROUND: url(/BIFConvenios/images/bg_hd.gif) #b6cde1 repeat-x 0px 0px; BORDER-LEFT: #93b2cc 1px solid; WIDTH: 398px; BORDER-BOTTOM: #93b2cc 1px solid; POSITION: relative
}


#hdShort H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: url(/BIFConvenios/images/title_h_bg.gif) no-repeat 0px 0px; LEFT: -1px; PADDING-BOTTOM: 2px; MARGIN: 0px -2px 0px 0px; WIDTH: 400px; COLOR: #000; TEXT-INDENT: 10px; PADDING-TOP: 4px; POSITION: relative; TOP: -1px
}


#hd H1 EM {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; COLOR: #ff9933; FONT-STYLE: normal; POSITION: relative; TOP: -6px
}

H1 {
	FONT-SIZE: 100%; MARGIN: 0px 17px; COLOR: #e76300; LINE-HEIGHT: 1.2em
}
/******* fin del titulo *********/