
.navset {
	BORDER-BOTTOM: #999 1px solid
}
.navset H3 {
	LEFT: -1000em; MARGIN: 0px; POSITION: absolute
}
.navset H4 {
	LEFT: -1000em; MARGIN: 0px; POSITION: absolute
}
.navset .hd LI EM {
	FONT-WEIGHT: bold
}
.navset .hd LI A {
	COLOR: #666
}
.navset .hd LI.on STRONG {
	COLOR: #999
}
.navset .hd LI.on STRONG A {
	COLOR: #999
}
.navset .hd LI.on STRONG {
	BORDER-BOTTOM: #f2f3f5 1px solid; BACKGROUND-COLOR: #f2f3f5
}


.navset .hd LI.orphan {
	COLOR: #999
}
.navset .hd LI.orphan A {
	COLOR: #999
}
.navset .hd LI A {
	BACKGROUND: url(../images/tr_999.gif) #ccc no-repeat right top
}
.navset .hd LI STRONG {
	BACKGROUND: url(../images/tr_999.gif) #ccc no-repeat right top
}
.navset .hd LI EM {
	BACKGROUND: url(../images/tl_999.gif) no-repeat
}
.navset .bd UL {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND-COLOR: #f2f3f5; BORDER-RIGHT-COLOR: #999
}
.navset .bd LI {
	COLOR: #06c
}
.navset .bd LI A {
	COLOR: #06c
}
.navset LI.on {
	FONT-WEIGHT: bold
}
.navset LI.on STRONG {
	FONT-WEIGHT: bold
}
.navset .bd LI {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
.navset {
	WIDTH: 100%
}
.navset A {
	TEXT-DECORATION: none
}
.navset UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.navset LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.navset LI {
	DISPLAY: inline; FLOAT: left
}
.navset LI A:hover {
	TEXT-DECORATION: underline
}
.navset UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
.navset UL {
	ZOOM: 1
}
.navset .hd UL {
	PADDING-LEFT: 0.3em; MARGIN-BOTTOM: -1px; FONT: bold 78%/1.2em verdana; POSITION: relative
}
.navset .hd LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 0.33em; PADDING-TOP: 0px
}
.navset .hd LI.on STRONG A {
	CURSOR: default
}
.navset .hd LI A {
	DISPLAY: block
}
.navset .hd LI STRONG {
	DISPLAY: block
}
.navset .hd LI EM {
	DISPLAY: block
}
.navset .hd LI A {
	DISPLAY: inline-block
}
.navset .hd LI STRONG {
	DISPLAY: inline-block
}
.navset .hd LI EM {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; FONT-STYLE: normal; font-size:10px; 
}
.navset .hd LI.orphan {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
.navset .hd LI.orphan A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
.navset .hd LI.orphan EM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
.navset .bd UL {
	PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.6em; MARGIN: 0px; FONT: 78%/1.2em verdana; PADDING-TOP: 0.6em
}
.navset .bd LI {
	PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px
}
.navset .bd LI.first {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}




/******************* Estilos para tablas *********************/

DIV TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
DIV TABLE TD {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #666 1px solid
}
DIV TABLE TH {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #666 1px solid
}

DIV TABLE TR.head
{
	background-color: #c9e6ff;
}

DIV TABLE TR.head TD
{
	border-right: #666 1px solid;
	padding-right: 0.25em;
	border-top: #666 1px solid;
	padding-left: 0.25em;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 0.25em;
	border-left: #666 1px solid;
	color: #0000cc;
	padding-top: 0.25em;
	border-bottom: #666 1px solid;
	font-family: Arial;
}


DIV TABLE TR {
	BACKGROUND-COLOR: #ddd
}
DIV TABLE TR.odd {
	BACKGROUND-COLOR: #fff
}
DIV TABLE TFOOT TR {
	BACKGROUND-COLOR: #fff
}

/******************* fin Estilos para tablas *********************/