.ListadoCeldaMouseOut
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}

.ListadoCeldaContenidoSeleccionado
{
	background-color: #FA9714;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}
