
.grilla_principal
{
	font-size :11px;
	font-family : Arial, Tahoma, Verdana;
    padding :4;
    border: thin double #666666;
    border-color : #194464;
    border-width: 2pt;
  
}

.Grilla_Cabecera_principal
{
	background-color: #194464;
	color: #FFFFFF;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

.Grilla_Cabecera_principal_deuda
{
	background-color: #194464;
	color: #FFFFFF;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

.Grilla_Filas_Principal
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}

.Grilla_Filas_Principal_deuda
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}

.Estilo_Link_Grilla
{
    text-decoration:none;
    cursor:text;
    color:#333333;
}

.Campo_Texto_label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px;
	height: 16px;
	text-align: left;
	color: #130526;
	font-weight : bold;
}



.Campo_Texto_label_titulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px;
	height: 16px;
	text-align: left;
	color: #993333;
	font-weight : bold;
}

.Campo_Texto_label_resultado
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px;
	height: 16px;
	text-align: left;
	color: #cc0000;
	font-weight : bold;
}

.Campo_Texto
{
    font-size:11px;
    font-family:Arial;
	background-color: #ffffff; 
	color: #102d48;
	BORDER-BOTTOM: #35a0ca 1px solid; 
	BORDER-LEFT: #35a0ca 1px solid; 
	BORDER-RIGHT: #35a0ca 1px solid; 
	BORDER-TOP: #35a0ca 1px solid;
}

.Boton
{
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color: white;
	border-style: none;
    background-image: url( '../images/bar_begin.gif' );
}

.BotonBuscar
{
	color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	border: thin double #666666;
	border-width: 2pt;
	background-color: #194464;
}
