<?xml version="1.0"?>
<configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="reportMappings" type="CrystalDecisions.Shared.ReportMappingHandler, CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<appSettings>
		<add key="cifrado" value="0"/>
		<add key="TipoDocumento" value="1"/>
		<add key="TipoEnvioCorreo" value="2"/>
		<add key="EstadoEnvioCorreo" value="3"/>
		<add key="TipoArchivoEnvio" value="4"/>
		<add key="TipoAlerta" value="5"/>
		<add key="TipoMetadata" value="6"/>
		<add key="EstadoProcesoAutomatico" value="7"/>
		<add key="EstadoPagoAutomatico" value="8"/>
		<add key="ParametroEnvioMail" value="9"/>
		<add key="RutaGeneracionArchivos" value="C:\Inetpub\wwwroot\BIFConveniosDES\files\Generados\"/>
		<add key="RutaImportacionArchivos" value="D:\SWBIFCONVENIOS_16012020\bifconveniosDES\files\cargados\"/>
		<add key="RutaDBFBase" value="C:\Inetpub\wwwroot\BIFConveniosDES\foxtemp\"/>
		<add key="ArchivoDBF-AMAZONAS" value="_F_AMAZONAS_26.dbf"/>
		<add key="ArchivoDBF-SIGA" value="_SIGA_TEMPLATE_FINAL.DBF"/>
		<add key="ArchivoDBF-JAEN" value="_F_JAEN_26.dbf"/>
		<add key="ArchivoDBF-CHULUCANAS" value="_F_CHULUCANAS_26.dbf"/>
		<add key="ArchivoDBF-UNICA" value="F_UNICA_DDMMYY.dbf"/>
		<add key="ArchivoDBF-UNFV" value="F_UNFV_DDMMYY.dbf"/>
		<add key="ArchivoDBF-ICA" value="BIF_ICADBF.dbf"/>
		<add key="ArchivoDBF-CAJAMARCA" value="_F_CAJARMARCA_26.dbf"/>
		<add key="ArchivoDBF-SANIGNACIO" value="CAJA_SANIGNACIO.dbf"/>
		<add key="ArchivoDBF-UNMSM6" value="F_UNMSM_DDMMYY6.dbf"/>
		<add key="ArchivoDBF-UNMSM8" value="F_UNMSM_DDMMYY8.dbf"/>
		<!--- informacion de la conexion .net - java -->
		<add key="ipJavaApp" value="127.0.0.1"></add>
		<add key="portJavaApp" value="47049"></add>
		<!-- ADD 26/06/2014 NCA REQ: GENERACION ARCHIVOS DESCUENTOS  -->
		<add key="SqlExcel" value="select * from [Datos$]"></add>
		<add key="ArchivoDescuentosCampos" value="CUOTA DESCONTADA|FECHA CARGO EN CUENTA|CODIGO TRABAJADOR|MON|NUMERO PRESTAMO|CLIENTE NOMBRE|DOI|IMPORTE CUOTA|TIPO|AÑO|MES"></add>
		<!-- END ADD-->
		<add key="UserArchivoConvenio" value="DOMBIF\MDP11"/>
		<add key="ArchivosConvenio" value="\\serbiffilex64\BIFCONVENIO"/>
		<add key="ArchivoRecepcionConvenio" value="\\serbiffilex64\BIFCONVENIO\RECEPCION"/>
		<add key="Sleep" value="100"/>
		<add key="ipPort" value="9091"/>
		<add key="mailSender" value="jreyes@banbif.com.pe"/>
		<add key="mailTest" value="mmunoz@banbif.com.pe;jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe;rponce@banbif.com.pe;shernandez@banbif.com.pe;kmartinez@banbif.com.pe;gloayzai@banbif.com.pe"/>
		<add key="mailBcc" value="jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe"/>
		<add key="mailCFSubject" value="BIFConvenios - Archivo de Cronograma Futuro (Pruebas nueva version)"/>
		<add key="mailCFSubjectReport" value="BIFConvenios - Reporte: Envío de Nóminas (Generados Automáticamente)"/>
		<add key="mailCFBody" value="Cronograma Futuro para el periodo #1 #2"/>
		<add key="SMTPServer" value="BIFMAIL-DES"/>
		<add key="NotificarA" value="mdp11@banbif.com.pe"/>
		<add key="testOnly" value="1"/>
		<!-- Conexion a Desarrollo -->

    <add key="ConnectionString" value="Data Source=bif2convenio20;Initial Catalog=BIFCONVENIOPRUEBA;Persist Security Info=True;User ID=usr_bifconveniodes;Password={CLAVE}"/>
    <add key="AS400-ConnectionString-Convenios" value="Provider=IBMDA400.DataSource.1;Persist Security Info=True;User ID=IBSDB2;Password={CLAVE};Data Source=SISTEMA2;Protection Level=None;Transport Product=Client Access;SSL=DEFAULT;Force Translate=65535;Default Collection=IBSCYFILES;Convert Date Time To Char=TRUE"/>
    <add key="AS400-ConnectionString-Generales" value="Provider=IBMDA400.DataSource.1;Persist Security Info=True;User ID=IBSDB2;Password={CLAVE};Data Source=SISTEMA2;Protection Level=None;Transport Product=Client Access;SSL=DEFAULT;Force Translate=65535;Default Collection=IBSCYFILES;Convert Date Time To Char=TRUE"/>

    <add key="ENCRIP_SEMILLA" value="!conv3687$#366"/>
    <add key="ConnectionString_PWD" value="D39Obf+4sc2OcRSfhln195mc+DnR7ojn"/>
    <add key="AS400-ConnectionString-Convenios_PWD" value="wOEkq3zsdD8="/>
    <add key="AS400-ConnectionString-Generales_PWD" value="wOEkq3zsdD8="/>
    
    <add key="mailDefault" value="Convenios@banbif.com.pe"/>
		<add key="mailFuncionarios" value="jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe"/>
		<add key="mailReporteSubject" value="BIFConvenios - Reportes de Nóminas Automáticas"/>
		<!--<add key="ReportesAutomatico" value="\\serbiffilex64\BIFCONVENIO\REPORTES_AUTOMATICOS"/>-->
		<add key="ReportesAutomatico" value="\\BIF2CONVENIOS10\Archivos Generados\BIFCONVENIO\REPORTES_AUTOMATICOS"/>
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="300"/>
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<authentication mode="Windows"/>
		<identity impersonate="false"/>
		<sessionState cookieless="UseCookies"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="WSBIFConvenios.asmx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<businessObjects><crystalReports><reportMappings><add reportName="RepListadoEnvioAutomatico.rpt" path="RepListadoEnvioAutomatico.rpt"/></reportMappings></crystalReports></businessObjects></configuration>
